{% extends 'app/base2.html' %}
{% load static %}

{% block titulo %}

{% endblock %}
{% block contenido %}

  <!-- CONTAINER -->
  <div class="container">
      <div class="row">
          <div class="col-sm-12">
              <!--Columna principal usada para dar forma a la pagina -->
              <div class="row">
                  <!--columna para el margen o para agregar informacion en el login-->
                  <div class="col-sm-4 mt-5"></div>
                  <div class="col-sm-4 mt-5">
                      <h4 style="color: rgb(0, 0, 0);">Segumiento de mi orden:</h4>
                      <div class="mb-3 mt-3">
                          <label for="pwd" class="form-label">Ingresa número de orden:</label>
                          <input type="password" class="form-control" id="pwd" placeholder="************" name="pswd">
                      </div>
                      <div class="mb-3 mt-5">
                          <!--casilla,mensaje y ejemplo para el correo-->
                          <label for="email" class="form-label">Ingresa email asociado a tu compra:</label>
                          <input type="email" class="form-control" id="email" placeholder="Ej: lemon.juice@gmail.com"
                              name="email">
                      </div>
                      <!--btn iniciar sesion-->
                      <a href="{% url 'despacho' %}" class="btn btn-success">Revisar</a>
                  </div>
                  <div class="col-sm-4 mt-5"></div>
              </div>
          </div>
      </div>
  </div>
  <!-- END CONTAINER -->

  {% endblock %}