/*HEADER*/
/*color fondo, altura, posicion, altura del header*/
header{
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.btn{
    background-color: rgba(104, 187, 104, 0.863);
    border-radius: 10%;
    color: white;
    border-color: white;
}
.btn:hover{
    color: white;
}
header .logo{
    border-radius: 50%;
}

/*PERFIL*/
.emp-profile{
    padding: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: rgba(10, 78, 2, 0.205);
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 50%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #21252980;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
    cursor: pointer;
}
.profile-head h5{
    color: #333;
} 
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-linki{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
  
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}

/*CARTAS*/
/* color letra parrafos de las cartas*/
p{
    color: black;
}
/* efecto opacidad cartas*/
.card-img:hover{
    opacity: 50%;
}
  /*Eliminacion subrayado link cartas*/
a{
    text-decoration: none;
}
  
/*color del boton cartas*/
.btn{
    background-color: rgba(131, 133, 18, 0.616);
}
/*SIGN IN*/
/*style imagen de fondo del login*/
.account {
    background-image: url("../img/jardineria4.jpg");
    width: auto;  
    height: auto;  
}
  
  
/*color de las letras del texto de correo y contraseña*/
.form-label {
    color: rgb(255,255,0);
}
  
  /*margen,color y borde de las casillas*/
.mb-3 {
    margin: auto;
    background-color: rgba(59, 46, 16, 0.329);
    padding: 15px;
    border-radius: 30px;
}
  /* color letra de la pestaña recordar contraseña*/
.recuerda-label {
  color: rgb(255,255,0);
}

/*DESPACHO*/

.truck {
    z-index: 0;
    background-color: #ECEFF1;
    padding-bottom: 20px;
    margin-top: 90px;
    margin-bottom: 90px;
    border-radius: 10px
}

.topp {
    padding-top: 40px;
    padding-left: 13% !important;
    padding-right: 13% !important
}
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: #455A64;
    padding-left: 0px;
    margin-top: 30px
}

#progressbar li {
    list-style-type: none;
    font-size: 13px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar .step0:before {
    font-family: FontAwesome;
    content: "\f10c";
    color: #fff
}

#progressbar li:before {
    width: 40px;
    height: 40px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    background: #C5CAE9;
    border-radius: 50%;
    margin: auto;
    padding: 0px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 12px;
    background: #C5CAE9;
    position: absolute;
    left: 0;
    top: 16px;
    z-index: -1
}

#progressbar li:last-child:after {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left: -50%
}

#progressbar li:nth-child(2):after,
#progressbar li:nth-child(3):after {
    left: -50%
}

#progressbar li:first-child:after {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    left: 50%
}

#progressbar li:last-child:after {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px
}

#progressbar li:first-child:after {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #651FFF
}

#progressbar li.active:before {
    font-family: FontAwesome;
    content: "\f00c"
}

.icon {
    width: 60px;
    height: 60px;
    margin-right: 15px
}

.icon-content {
    padding-bottom: 20px
}

@media screen and (max-width: 992px) {
    .icon-content {
        width: 50%
    }
}


/*FOOTER*/
/*color fondo, altura, posicion, altura del footer*/
footer {
  background-color:rgba(104, 187, 104, 0.863);
  width: 100%;
  left: 0;
  bottom: 0;
  height: auto;
  padding: 0;
}
footer .btn:hover{
    border: rgb(2, 2, 2);
}